/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
.img-invert {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  filter: invert(1);
}
/* LOADER */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #292A6A;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.social-widget-container {
  font-size: 1.8rem;
}
.social-widget-container a {
  color: #292A6A;
  margin: 1rem;
}
.social-widget-container a:hover {
  color: #9CD8D5;
}
.subscribe-form-container {
  margin-top: 2rem;
}
.subscribe-form-container .input-field-item {
  margin-bottom: 1rem;
}
.subscribe-form-container .input-field-item .input-form-control {
  border-radius: 0;
}
.subscribe-form-container .input-field-item .btn-form {
  background-color: #9CD8D5;
  color: #292A6A;
  width: 100%;
  border-radius: 0;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
}
.subscribe-form-container .input-field-item .btn-form:hover {
  background-color: #F8F8FC;
}
.subscribe-form-container .input-field-item .invalid-control {
  text-align: left;
  width: 100%;
  display: block;
  margin-top: 0.2rem;
  font-weight: 600;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.top-bar {
  background-color: #292A6A;
  color: #ffffff;
  z-index: 999;
}
.top-bar .top-bar-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
}
.top-bar .top-bar-content img {
  margin-right: 5px;
}
.top-bar .top-bar-content a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.08rem;
}
.top-bar .top-bar-content a:hover {
  color: #9CD8D5;
}
.top-bar .top-bar-content div {
  position: relative;
}
.top-bar .top-bar-content div:last-child {
  padding-left: 7px;
  margin-left: 7px;
}
.top-bar .top-bar-content div:last-child:before {
  content: ' ';
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 1px;
}
.the-header {
  position: relative;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e6e6;
  z-index: 100;
}
.the-header .custom-navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-header .custom-navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
}
.the-header .custom-navbar-nav .nav-item .nav-link:hover {
  color: #9CD8D5;
}
.the-header .header-mobile {
  text-align: right;
  vertical-align: middle;
}
.btn-menu {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0;
  border: 0;
  background: none;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.btn-menu:focus {
  outline: 0;
  box-shadow: none;
}
.btn-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.btn-menu span:nth-child(1) {
  top: 0px;
}
.btn-menu span:nth-child(2) {
  top: 9px;
}
.btn-menu span:nth-child(3) {
  top: 18px;
}
.btn-menu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.btn-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.btn-menu.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.logo-bright {
  filter: brightness(10);
}
.container-fluid-home .the-header {
  border-bottom: 0 !important;
}
.container-fluid-home .the-header .custom-navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
}
.container-fluid-home .the-header .btn-menu span {
  background: #ffffff;
}
.container-fluid-home .the-header .show-menu .nav-item .nav-link {
  color: #000000 !important;
}
.show-menu {
  background: #ffffff;
  color: #000000;
  display: block !important;
  padding-bottom: 1rem;
}
.showed-menu {
  background: #ffffff;
}
.showed-menu .logo-bright {
  filter: unset;
}
.showed-menu .btn-menu span {
  background: #000000 !important;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: #292A6A;
}
.the-footer .footer-item:nth-child(3) {
  background-color: #292A6A;
  color: #ffffff;
}
.the-footer .footer-item .widgettitle {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.the-footer .footer-item .footer-sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-item .footer-sidebar .contact-widget-element-container {
  padding: 0.5rem;
  text-align: center;
}
.the-footer .footer-item .footer-sidebar .contact-widget-element-text {
  font-size: 1.2rem;
  line-height: 2rem;
}
.the-footer .footer-item #sidebar-footer2 {
  background: #F8F8FC;
}
.the-footer .footer-item #sidebar-footer2 .widget_media_image {
  margin-bottom: 1rem;
}
.the-footer .footer-item #contact .widget_text {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
.footer-copy {
  padding: 1rem;
  background-color: #9CD8D5;
  color: #292A6A;
  font-size: 0.9rem;
}
.footer-copy .footer-copy-left {
  text-align: left;
}
.footer-copy .footer-copy-right {
  text-align: right;
}
.footer-copy .footer-copy-right a {
  color: #292A6A;
  text-decoration: underline;
}
.footer-copy .footer-copy-right a:hover {
  color: #000000;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.home-main-slider {
  max-height: 93vh;
  overflow: hidden;
  position: relative;
  margin-top: -97px;
}
.home-main-slider .home-main-slider-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
}
.home-main-slider .home-main-slider-wrapper h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3.2rem;
}
.home-main-slider .home-main-slider-wrapper .btn-slider {
  background-color: #292A6A;
  color: #ffffff;
  border-radius: 0;
  padding: 0.9rem 1.5rem;
  font-size: 1.1rem;
}
.home-main-slider .home-main-slider-wrapper .btn-slider:hover {
  background-color: #9CD8D5;
}
.home-main-slider .home-main-slider-logos-container {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.home-main-slider .home-main-slider-logos-container img {
  margin: 0 1rem;
}
.home-locations-item-featured {
  margin-bottom: 1.5rem;
}
.home-locations-item-featured img.wp-post-image {
  max-width: unset !important;
  width: 100%;
}
.home-locations-item-featured .home-locations-item-wrapper {
  position: relative;
}
.home-locations-item-featured .home-locations-item-wrapper picture {
  width: 100% !important;
}
.home-locations-item-featured .home-locations-item-wrapper picture img {
  width: 100% !important;
}
.home-locations-item-featured .home-locations-item-wrapper .img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  cursor: pointer;
}
.home-locations-item-featured .home-locations-item-wrapper .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.25);
  padding: 2rem 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-locations-item-featured .home-locations-item-wrapper .content:hover {
  background: rgba(0, 0, 0, 0.45);
}
.home-locations-item-featured .home-locations-item-wrapper .content .meta-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-locations-item-featured .home-locations-item-wrapper .content .meta-container span:after {
  content: '/';
  padding: 0.5rem;
  font-size: 1rem;
}
.home-locations-item-featured .home-locations-item-wrapper .content .meta-container span:last-child:after {
  display: none;
}
.home-locations-item-featured .home-locations-item-wrapper .content h2 {
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0.8rem 0;
}
.home-locations-item-featured .home-locations-item-wrapper .content .dir-container {
  padding: 0.5rem 0;
  padding-top: 0;
  font-size: 1.3rem;
}
.home-locations-item-featured .home-locations-item-wrapper .content .price-container {
  font-size: 1.3rem;
}
.modal-home .modal-content {
  background: transparent;
}
.modal-home .modal-body {
  position: relative;
  padding: 0;
  background: transparent;
}
.modal-home .modal-body .video-modal-content {
  padding: 0;
}
.modal-home .modal-body .close {
  position: absolute;
  top: -50px;
  right: 0px;
  color: #fff;
  font-size: 3rem;
  opacity: 1;
  font-weight: 300;
}
/* HOME VIDEO */
.home-video-container {
  padding: 1rem;
  padding-bottom: 0;
}
/* HOME BENEFITS */
.home-benefits-container {
  padding: 1rem;
}
.home-benefits-container .home-benefits-content {
  background-color: #F8F8FC;
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
}
.home-benefits-container .home-benefits-content ul {
  list-style: none;
}
.home-benefits-container .home-benefits-content ul li {
  position: relative;
}
.home-benefits-container .home-benefits-content ul li:before {
  content: ' ';
  position: absolute;
  background-image: url(../images/icon-check.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  top: 7px;
  left: -35px;
}
.home-benefits-container .home-benefits-content h2 {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.home-benefits-container .home-benefits-content .btn-benefits {
  background-color: #292A6A;
  color: #ffffff;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  width: 100%;
}
.home-benefits-container .home-benefits-content .btn-benefits:hover {
  background-color: #9CD8D5;
}
/* HOME ABOUT */
.home-about-container {
  padding: 1rem;
}
.home-about-container .home-about-picture {
  padding-right: 0;
}
.home-about-container .home-about-content {
  background-color: #F8F8FC;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 1.5rem 1rem;
}
.home-about-container .home-about-content h3 {
  font-family: 'Tenor Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
}
.home-about-container .home-about-content h2 {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 1rem 0;
}
/* HOME LOCATIONS */
.home-locations-item {
  margin-bottom: 1.5rem;
}
.home-locations-item .home-locations-item-wrapper {
  position: relative;
}
.home-locations-item .home-locations-item-wrapper img.wp-post-image {
  max-width: unset !important;
  width: 100%;
}
.home-locations-item .home-locations-item-wrapper .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.25);
  padding: 2rem 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-locations-item .home-locations-item-wrapper .content:hover {
  background: rgba(0, 0, 0, 0.45);
}
.home-locations-item .home-locations-item-wrapper .content .meta-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-locations-item .home-locations-item-wrapper .content .meta-container .meta-item {
  margin-right: 15px;
}
.home-locations-item .home-locations-item-wrapper .content h2 {
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0.8rem 0;
}
.home-locations-item .home-locations-item-wrapper .content .dir-container {
  padding: 0.5rem 0;
  padding-top: 0;
  font-size: 1.3rem;
}
.home-locations-item .home-locations-item-wrapper .content .price-container {
  font-size: 1.3rem;
}
.view-more-locations {
  padding: 2rem 1rem;
  text-align: center;
}
.view-more-locations .btn-view-more {
  background-color: #292A6A;
  color: #ffffff;
  border-radius: 0;
  padding: 0.8rem 5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.view-more-locations .btn-view-more:hover {
  background-color: #9CD8D5;
}
/* --------------------------------------------------------------
6.- PARTNER WITH US
-------------------------------------------------------------- */
.page-partners {
  padding: 3rem 1rem;
}
.page-partners .section-container {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 0 5%;
}
.page-partners .section-container h1 {
  color: #292A6A;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.partners-form-container {
  padding: 1rem;
}
.partners-form-container .input-field-item {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
.partners-form-container .input-field-item .input-form-control {
  background-color: #F8F8FC;
  color: #000000;
  border: 0;
  border-radius: 0;
}
.partners-form-container .input-field-item .invalid-control {
  text-align: left;
  width: 100%;
  display: block;
  margin-top: 0.2rem;
  font-weight: 600;
}
.partners-form-container .submit-field-item .btn-form {
  background-color: #9CD8D5;
  color: #292A6A;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  width: 100%;
  text-transform: uppercase;
}
.partners-form-container .submit-field-item .btn-form:hover {
  background-color: #292A6A;
  color: #ffffff;
}
/* --------------------------------------------------------------
7.- FOR AGENTS
-------------------------------------------------------------- */
.page-agents {
  padding: 3rem 1rem;
}
.page-agents .section-container {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 0 5%;
}
.page-agents .section-container h1 {
  color: #292A6A;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.page-agents .agents-container {
  padding-top: 2rem;
}
.page-agents .agents-container div {
  margin-bottom: 1rem;
}
.page-agents .agents-container a {
  color: #292A6A;
  text-decoration: underline;
  font-size: 1.2rem;
}
.page-agents .agents-container a:hover {
  text-decoration: none;
}
.page-agents .generate-pdf {
  cursor: pointer;
}
/* --------------------------------------------------------------
7.- FOR AGENTS
-------------------------------------------------------------- */
.page-concierge {
  padding: 3rem 1rem;
  padding-bottom: 0;
}
.page-concierge .section-container {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding: 0 5%;
}
.page-concierge .section-container h1 {
  color: #292A6A;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.menu-container {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.menu-container ul#menu_ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.menu-container ul#menu_ul li a {
  color: #292A6A;
  padding: 1rem 0;
  margin: 0 0.5rem;
  border-bottom: 2px solid transparent;
}
.menu-container ul#menu_ul li a:hover {
  border-bottom: 2px solid #000000;
}
.menu-concierges {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.menu-concierges .btn-small {
  padding: 0;
  outline: 0 !important;
}
.menu-concierges .btn-small:focus {
  outline: 0;
  box-shadow: none;
}
.menu-concierges .btn-small:clicked {
  outline: 0;
  box-shadow: none;
}
.menu-concierges .btn-small:before {
  display: none !important;
}
.main-concierge-item {
  padding: 0.5rem 1rem;
}
.main-concierge-item h3 {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}
.main-concierge-item .content {
  font-size: 1rem;
  line-height: 1.8rem;
}
.main-concierge-item .content ul {
  list-style: none;
}
.main-concierge-item .content ul li {
  position: relative;
}
.main-concierge-item .content ul li:before {
  content: ' ';
  position: absolute;
  background-image: url(../images/icon-check-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  top: 5px;
  left: -30px;
}
.main-concierge-item .btn-concierge {
  background-color: #292A6A;
  color: #ffffff;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.main-concierge-item .btn-concierge:hover {
  background-color: #9CD8D5;
  color: #292A6A;
}
#quoteModal .modal-header {
  padding: 2rem;
  padding-bottom: 0;
  border: 0;
}
#quoteModal .modal-header .close {
  padding: 0 1px 3px 2px;
  margin: -1rem -1rem -1rem auto;
  border: 3px solid gray;
  line-height: 1rem;
  font-size: 1.7rem;
}
#quoteModal .modal-title {
  margin-bottom: 0;
  line-height: 1rem;
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
#quoteModal .modal-content {
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 25px #4e4e4e;
  padding: 1rem;
}
#quoteModal .modal-content .input-field-item {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
#quoteModal .modal-content .input-field-item .input-form-control {
  background-color: #F8F8FC;
  color: #000000;
  border: 0;
  border-radius: 0;
}
#quoteModal .modal-content .input-field-item .invalid-control {
  text-align: left;
  width: 100%;
  display: block;
  margin-top: 0.2rem;
  font-weight: 600;
}
#quoteModal .modal-content .submit-field-item .btn-form {
  background-color: #9CD8D5;
  color: #292A6A;
  border-radius: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  width: 100%;
  text-transform: uppercase;
}
#quoteModal .modal-content .submit-field-item .btn-form:hover {
  background-color: #292A6A;
  color: #ffffff;
}
#quoteModal .modal-content .modal-footer {
  border: 0;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: gray;
}
#quoteModal .modal-content .modal-footer span {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
}
#quoteModal .modal-content .modal-footer span img {
  margin-right: 5px;
}
#quoteModal .modal-content .modal-footer img {
  max-width: 25px;
}
/* --------------------------------------------------------------
8.- YATCH
-------------------------------------------------------------- */
.back-btn-container {
  padding: 2rem 1rem;
}
.back-btn-container a {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #292A6A;
  vertical-align: bottom;
}
.back-btn-container a img {
  margin-right: 10px;
}
.title-container {
  text-align: center;
  padding: 4rem 1rem;
  padding-top: 1.5rem;
}
.title-container h1 {
  color: #292A6A;
  text-transform: uppercase;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.yatch-item {
  margin-bottom: 2.5rem;
}
.yatch-item header span {
  vertical-align: top;
  font-size: 0.9rem;
  color: gray;
}
.yatch-item header span img {
  margin-top: -3px;
}
.yatch-item a {
  color: #292A6A;
}
.yatch-item h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}
.yatch-item .btn-view-more {
  border: 2px solid #292A6A;
  color: #292A6A;
  border-radius: 0;
  margin-top: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
}
.yatch-item .btn-view-more:hover {
  background: #292A6A;
  color: #ffffff;
}
.single-yatchs .back-btn-container {
  padding: 2rem 2rem !important;
  border-bottom: 1px solid #e6e6e6;
}
.yatch-single {
  padding: 4rem 1rem;
  font-size: 1.2rem;
  line-height: 2.1rem;
}
.yatch-single header {
  margin-bottom: 1rem;
}
.yatch-single header span {
  color: gray;
  font-size: 0.9rem;
}
.yatch-single header span img {
  margin-top: -3px;
}
.yatch-single .main-picture {
  padding-right: 0;
}
.yatch-single .main-picture img {
  width: 100%;
}
.yatch-single .secondary-picture {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.yatch-single .secondary-picture .secondary-picture-wrapper {
  flex: 0 0 100%;
}
.yatch-single .secondary-picture .secondary-picture-wrapper img {
  width: 100%;
}
.yatch-single .secondary-picture .smaller-picture {
  position: relative;
  margin-top: 1rem;
  flex: 0 0 47%;
}
.yatch-single .secondary-picture .smaller-picture .smaller-picture-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: white;
}
.yatch-single h1 {
  color: #292A6A;
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1rem 0;
}
.yatch-single .btn-concierge {
  background: #292A6A;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 0;
}
.yatch-single .btn-concierge:hover {
  background-color: #9CD8D5;
  color: #292A6A;
}
/* --------------------------------------------------------------
9.- LOCATIONS ARCHIVE
-------------------------------------------------------------- */
.archive-main-title {
  padding-top: 3rem;
}
.archive-main-title h1 {
  margin-bottom: 0;
}
.archive-divider {
  text-align: center;
  padding: 3.5rem 1rem;
  padding-top: 0.5rem;
}
.archive-item {
  padding-bottom: 3rem;
}
.archive-item .archive-location {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.archive-item a {
  color: #292A6A;
}
.archive-item a:hover {
  color: #9CD8D5;
}
.archive-item h2 {
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.archive-item .meta-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.archive-item .meta-container .meta-item {
  margin-right: 15px;
  color: #7b7b7b;
  font-size: 0.95rem;
  font-weight: 600;
}
.archive-item .archive-excerpt {
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 1rem 0;
}
.archive-item .btn-archive {
  background: #292A6A;
  color: #ffffff;
  width: 100%;
  border-radius: 0;
  padding: 0.9rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.archive-item .btn-archive:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.archive-item .archive-images .archive-images-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.archive-item .archive-images .archive-images-wrapper .archive-post-thumbnail {
  flex: 0 0 65%;
}
.archive-item .archive-images .archive-images-wrapper .archive-post-thumbnail img {
  width: 100%;
}
.archive-item .archive-images .archive-images-wrapper .archive-post-gallery {
  flex: 0 0 30%;
}
.archive-item .archive-images .archive-images-wrapper .archive-post-gallery img {
  margin-bottom: 1rem;
}
.archive-item .archive-images .archive-images-wrapper .archive-post-gallery img:last-child {
  margin-bottom: 0;
}
/* --------------------------------------------------------------
10.- LOCATIONS SINGLE
-------------------------------------------------------------- */
.property-single {
  border-right: 1px solid #e6e6e6;
  padding-right: 1.5rem;
}
.property-single .property-header {
  padding-bottom: 1rem;
}
.property-single .property-header h1 {
  color: #292A6A;
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.property-single .property-header .property-share {
  position: relative;
}
.property-single .property-header .property-share a {
  color: gray;
  padding-left: 0;
}
.property-single .property-header .property-share a:hover {
  color: #292A6A;
  text-decoration: none;
}
.property-single .property-header .property-share .btn-link .fa {
  border: 2px solid gray;
  padding: 3px;
}
.property-single .property-header .property-share .share-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background: #fff;
  font-size: 1.3rem;
  width: 90px;
}
.property-single .property-header .property-share .share-menu a {
  font-size: 1.3rem;
  width: 105px;
}
.property-single .property-header .property-share .share-menu-hidden {
  display: none;
}
.property-single .property-gallery .gallery-main {
  padding-right: 0;
}
.property-single .property-gallery .gallery-main img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.property-single .property-gallery .gallery-main img:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}
.property-single .property-gallery .gallery-thumbs img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.property-single .property-gallery .gallery-thumbs img:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}
.property-single .property-gallery .gallery-thumb-image-small {
  max-width: 49%;
  display: inline-block;
  margin-top: 5px;
  position: relative;
}
.property-single .property-gallery .gallery-thumb-image-small .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.property-single .property-header-reviews {
  color: #292A6A;
}
.property-single .property-header-reviews .fa {
  color: #292A6A;
  font-size: 1.5rem;
  margin-right: 5px;
}
.property-single .property-header-reviews a {
  color: #292A6A;
}
.property-single .property-header-reviews a:hover {
  color: #9CD8D5;
}
.property-single .property-navigator {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
}
.property-single .property-navigator ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  list-style: none;
}
.property-single .property-navigator ul li {
  padding: 0.9rem;
  padding-right: 2rem;
  font-size: 0.9rem;
}
.property-single .property-navigator ul li a {
  color: #000000;
  font-weight: 600;
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
}
.property-single .property-navigator ul li a:hover {
  border-color: #292A6A;
}
.property-single .property-navigator .btn-small {
  display: none;
}
.property-single .property-navigator .btn-small:focus {
  box-shadow: none;
}
.property-single .property-navigator .btn-small:focus-visible {
  box-shadow: none;
  outline: 0;
  border: 0;
}
.property-single .property-navigator .btn-small:before {
  display: none;
}
.property-single .property-overview {
  padding: 1.5rem 1rem;
}
.property-single .property-overview .single-item {
  margin-bottom: 0.8rem;
}
.property-single .property-overview .single-item img {
  max-width: 15px;
  margin-right: 5px;
}
.property-single .property-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.property-single .property-maps {
  flex: 0 0 46%;
}
.property-single .property-description {
  border-top: 1px solid #e6e6e6;
  padding: 1rem;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.property-single .property-description iframe {
  width: 100%;
}
.property-single .property-room-beds {
  background: #F8F8FC;
  padding: 1rem;
  padding-bottom: 2.5rem;
}
.property-single .property-subtitle {
  color: #292A6A;
  font-family: 'Tenor Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.property-single .property-amenities {
  padding: 2rem 1rem;
}
.property-single .property-amenities .property-wrapper .single-item {
  flex: 0 0 50%;
  font-size: 1rem;
  line-height: 2.4rem;
}
.property-single .property-policies {
  background: #F8F8FC;
  padding: 1rem;
}
.property-single .property-policies .property-wrapper .approved-policies {
  flex: 0 0 50%;
}
.property-single .property-policies .property-wrapper .rejected-policies {
  flex: 0 0 50%;
}
.property-single .property-policies .property-wrapper .single-item {
  font-size: 1rem;
  line-height: 2.4rem;
}
.property-single .property-policies h3 {
  color: #292A6A;
  font-size: 1.75rem;
  border-top: 1px solid #636363;
  padding: 1rem 0;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.property-single .property-point-interest {
  padding: 2rem 1rem;
}
.property-single .property-point-interest .property-wrapper .single-item {
  flex: 0 0 50%;
  font-size: 1rem;
  line-height: 2.4rem;
}
.property-single .related-properties {
  padding: 2rem 1rem;
}
.property-single .related-properties .related-locations-item {
  margin-bottom: 1.5rem;
}
.property-single .related-properties .related-locations-item a {
  color: #292A6A;
}
.property-single .related-properties .related-locations-item a:hover {
  color: #9CD8D5;
}
.property-single .related-properties .related-locations-item h2 {
  color: #292A6A;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-weight: 600;
}
.property-single .related-properties .related-locations-item h2:hover {
  color: #9CD8D5;
}
.property-single .related-properties .related-locations-item .meta-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-single .related-properties .related-locations-item .meta-container .meta-item {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  margin-right: 10px;
  margin-bottom: 0;
}
.property-single .related-properties .related-locations-item .dir-container {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.property-single .related-properties .related-locations-item .price-container {
  font-size: 1.1rem;
}
.property-reservation {
  padding-top: 2rem;
}
.property-reservation .sticker-data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.property-reservation .sticker-data-row .property-price {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.property-reservation .sticker-data-row .property-price small {
  font-size: 0.9rem;
  padding-left: 5px;
}
.property-reservation .property-share {
  position: relative;
}
.property-reservation .property-share a {
  color: gray;
  padding-left: 0;
}
.property-reservation .property-share a:hover {
  color: #292A6A;
  text-decoration: none;
}
.property-reservation .property-share .btn-link .fa {
  border: 2px solid gray;
  padding: 3px;
}
.property-reservation .property-share .share-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background: #fff;
  font-size: 1.3rem;
  width: 90px;
}
.property-reservation .property-share .share-menu a {
  font-size: 1.3rem;
  width: 105px;
}
.property-reservation .property-share .share-menu-hidden {
  display: none;
}
.property-reservation .property-price-reviews {
  color: #292A6A;
  font-size: 1rem;
  padding: 0.8rem 0;
}
.property-reservation .meta-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.property-reservation .meta-container .meta-item {
  margin-right: 15px;
}
.property-reservation .special-container {
  color: #292A6A;
  padding: 1rem 0;
  padding-bottom: 0;
}
.property-reservation .btn-availability {
  background: #292A6A;
  color: #ffffff;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
.property-reservation .btn-availability:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.property-reservation .btn-reservation {
  background: #292A6A;
  color: #ffffff;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0;
  margin-top: 1.5rem;
}
.property-reservation .btn-reservation:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.property-reservation .special-message {
  text-align: center;
  margin: 2rem 0;
  margin-top: 1rem;
}
.property-reservation .mail-message {
  color: #292A6A;
  text-align: center;
  border-top: 1px solid #8E8E8E;
  padding-top: 2rem;
}
.property-reservation .mail-message a {
  color: #292A6A;
}
.property-reservation .date-selector {
  margin-top: 1.5rem;
  border: 2px solid #8E8E8E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.property-reservation .date-selector div {
  cursor: pointer;
  flex: 0 0 50%;
  padding: 2rem 1rem;
  padding-bottom: 0rem;
  position: relative;
}
.property-reservation .date-selector div label {
  color: #8E8E8E;
  position: absolute;
  top: 8px;
  left: 15px;
}
.property-reservation .date-selector div .date {
  display: block;
  width: 100%;
  height: 35px;
}
.property-reservation .date-selector div:nth-child(1) {
  border-right: 2px solid #8E8E8E;
}
.property-reservation .guest-selector {
  position: relative;
  border: 2px solid #8E8E8E;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.8rem 1rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
}
.property-reservation .guest-selector label {
  color: #8E8E8E;
  position: absolute;
  top: -22px;
  left: 0px;
}
.property-reservation .guest-selector .guest-selector-wrapper {
  position: relative;
}
.property-reservation .guest-selector .guest-selector-wrapper:before {
  content: ' ';
  background: url('../images/arrow-sprite.png');
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.property-reservation .guest-selector .guest-dropdown-open:before {
  transform: rotate(180deg);
}
.property-reservation .guest-selector .guest-selector-menu {
  position: absolute;
  top: 104%;
  left: -3px;
  background: white;
  width: 102%;
  padding: 1rem;
  box-shadow: 0 0 6px #bfbfbf;
  border-radius: 5px;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container {
  /* Firefox */
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container span {
  border: 1px solid black;
  border-radius: 100%;
  width: 25px;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  vertical-align: middle;
  padding-bottom: 3px;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input {
  border: 0;
  max-width: 50px;
  text-align: center;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input::-webkit-outer-spin-button,
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input[type=number] {
  -moz-appearance: textfield;
}
.property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-label h4 {
  font-size: 1.5rem;
  margin: 0;
}
.modal-date .modal-content {
  border-radius: 25px;
}
.modal-date .modal-date-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal-date .modal-date-header .modal-date-title h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.modal-date .modal-date-header .date-selected {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 50%;
  border: 2px solid gray;
  border-radius: 8px;
}
.modal-date .modal-date-header .date-selected div {
  cursor: pointer;
  flex: 0 0 50%;
  padding: 2rem 1rem;
  padding-bottom: 0rem;
  position: relative;
}
.modal-date .modal-date-header .date-selected div label {
  color: #8E8E8E;
  position: absolute;
  top: 8px;
  left: 15px;
}
.modal-date .modal-date-header .date-selected div .date {
  color: #292A6A;
  display: block;
  width: 100%;
  height: 35px;
}
.modal-date .modal-date-header .date-selected div:nth-child(1) {
  border-right: 2px solid #8E8E8E;
}
.modal-date .modal-body-dates {
  padding: 2rem 3rem;
}
.modal-date .modal-body-dates .close {
  padding: 0 1px 3px 2px;
  margin: -1rem -1rem -1rem auto;
  border: 3px solid gray;
  line-height: 1rem;
  font-size: 1.7rem;
}
.modal-date .modal-body-dates .close:focus {
  outline: 0;
  box-shadow: none;
}
.modal-date .modal-body-dates .close:focus-within {
  outline: 0;
  box-shadow: none;
}
.modal-date .modal-body-dates .modal-date-content {
  padding: 2rem 0;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-date .datepicker-here {
  transform: scale(1.25) translate(25px, 10px);
}
.modal-date .datepicker-out {
  transform: scale(1.25) translate(-25px, 10px);
}
.modal-date-container {
  position: relative;
}
.modal-date-container #demo {
  display: none;
}
.modal-date-container .date-picker-wrapper {
  border: 0;
  background-color: transparent;
}
.modal-date-container .date-picker-wrapper .drp_top-bar .default-top {
  display: none;
}
.modal-date-container .date-picker-wrapper .drp_top-bar .error-top,
.modal-date-container .date-picker-wrapper .drp_top-bar .normal-top {
  display: none !important;
}
.modal-date-container .month-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100% !important;
  border: 0;
  padding: 0;
}
.modal-date-container .date-picker-wrapper .month-wrapper table {
  width: 46%;
  float: none;
}
.modal-date-container .date-picker-wrapper .month-wrapper table.month2 {
  width: 46%;
  float: none;
}
.modal-date-container .date-picker-wrapper .month-name {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  text-transform: capitalize !important;
  font-size: 1.1rem;
  padding: 1.5rem !important;
}
.modal-date-container .date-picker-wrapper .month-wrapper table .week-name {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  text-transform: capitalize !important;
  height: 35px;
  line-height: 40px;
  font-weight: 100;
}
.modal-date-container .date-picker-wrapper .month-wrapper table .day {
  font-family: 'Didact Gothic', sans-serif;
  padding: 12px 0;
  font-size: 13px;
}
.modal-date-container .date-picker-wrapper .first-date-selected,
.modal-date-container .date-picker-wrapper .last-date-selected {
  background-color: #17a2b8 !important;
  color: #fff !important;
}
.modal-date-closer {
  text-align: right;
}
.modal-date-closer .btn-save {
  background: #292A6A;
  color: #ffffff;
  border-radius: 0;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
}
.modal-date-closer .btn-save:hover {
  color: #292A6A;
  background: #9CD8D5;
}
.table-order {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  padding-bottom: 0;
  border: 1px solid #292A6A;
}
.table-order .table-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.3rem 0.5rem;
}
.table-order .total-table-item {
  font-weight: 600;
  border-top: 1px solid black;
  margin-top: 1rem;
  padding: 1rem 0.5rem !important;
}
.confirm-reservation h2 {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.confirm-reservation .reservation-control {
  background: #f3f3f3;
  border: 0;
  margin-bottom: 1rem;
  border-radius: 0;
  padding: 0.6rem 1rem;
  height: auto;
}
.confirm-reservation .btn-complete-form {
  background: #292A6A;
  color: #ffffff;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}
.confirm-reservation .btn-complete-form:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.thanks-container {
  padding: 5rem 1rem;
  text-align: center;
}
.thanks-container h3 {
  font-family: 'Tenor Sans', sans-serif;
  color: #292A6A;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.thanks-container h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.thanks-container .btn-back-home {
  background: none transparent;
  border: 2px solid #292A6A;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  border-radius: 0;
}
.thanks-container .btn-back-home:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.modal-response-container {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.modal-response-container .false-taken {
  color: green;
}
.modal-response-container .true-taken {
  color: red;
}
.error-message {
  font-size: 1.1rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  display: block;
  text-align: center;
  color: red;
}
.bed-type-swiper-container {
  padding: 0 3rem;
}
.bed-type-swiper-container .swiper-button-prev,
.bed-type-swiper-container .swiper-button-next {
  width: 35px;
  height: 35px;
  border: 3px solid #808080;
  background: #F8F8FC;
  border-radius: 100%;
}
.bed-type-swiper-container .swiper-button-prev:after,
.bed-type-swiper-container .swiper-button-next:after {
  font-size: 1.1rem;
  font-weight: 900 !important;
  color: #808080;
}
.bed-type-swiper-container .property-bed-type-item {
  border: 1px solid #808080;
  border-radius: 10px;
  background: #fff;
  padding: 2rem 1.5rem;
}
.bed-type-swiper-container .property-bed-type-item h3 {
  font-size: 1rem;
  margin-top: 0.8rem;
  font-weight: 600;
}
.bed-type-swiper-container .property-bed-type-item span {
  font-size: 0.9rem;
}
.modal-gallery .modal-dialog {
  max-width: unset !important;
}
.modal-gallery .modal-content {
  background: none;
  border: 0;
  width: auto;
  margin: 0 auto;
}
.modal-gallery .modal-content .modal-body-gallery {
  position: relative;
  text-align: center;
}
.modal-gallery .modal-content .modal-body-gallery img {
  height: 90vh !important;
  width: auto !important;
  max-width: auto !important;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrows {
  position: absolute;
  top: 49.5%;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrows button {
  background-color: #ffffff;
  border: 2px solid #8E8E8E;
  color: #8E8E8E;
  border-radius: 100%;
  font-size: 1.1rem;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrows button:focus {
  outline: 0 !important;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrows button:hover {
  border: 2px solid #000000;
  color: #000000;
  background-color: #F8F8FC;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrow-prev {
  left: 0;
}
.modal-gallery .modal-content .modal-body-gallery .modal-arrow-next {
  right: 0;
}
.modal-gallery .modal-content .modal-body-gallery .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-gallery .modal-content .modal-body-gallery .modal-close button {
  background-color: #ffffff;
  border: 2px solid #8E8E8E;
  color: #8E8E8E;
  border-radius: 100%;
  font-size: 1.1rem;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-gallery .modal-content .modal-body-gallery .modal-close button:focus {
  outline: 0 !important;
}
.modal-gallery .modal-content .modal-body-gallery .modal-close button:hover {
  border: 2px solid #000000;
  color: #000000;
  background-color: #F8F8FC;
}
.property-reviews {
  padding: 2rem 1rem;
  background: #F8F8FC;
}
.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.comment-list .comment {
  border-bottom: 1px solid #929292;
  padding-bottom: 0.3rem;
}
.comment-list .comment .comment-text {
  color: #929292;
  font-size: 1rem;
}
.comment-list .comment:last-child {
  border-bottom: 0;
}
.comment-list .comment .comment-stars {
  margin-bottom: 0.5rem;
}
.comment-list .comment .comment-stars .fa {
  color: #292A6A;
  margin-right: 2px;
  font-size: 1.2rem !important;
}
.comment-list .comment .comment-by {
  color: #929292;
  line-height: 0.5rem;
}
.comment-list .comment .comment-by strong {
  color: #292A6A;
}
.write-review-container {
  width: 100%;
}
.write-review-container .review-form-container {
  width: 100%;
}
.write-review-container .btn-review {
  border: 3px solid #292A6A;
  color: #292A6A;
  text-transform: uppercase;
  padding: 1.1rem;
  margin-top: 1rem;
  font-weight: 600;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.write-review-container .btn-review:hover {
  background: #292A6A;
  color: #ffffff;
}
.write-review-container #reply-title {
  display: none;
}
.write-review-container .comment-title {
  margin-top: 1.1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.write-review-container .comment-form input[type=text] {
  width: 100%;
}
.write-review-container .comment-form input[type=email] {
  width: 100%;
}
.write-review-container input#submit {
  background: #292A6A;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.write-review-container .comment-form textarea {
  width: 100%;
}
.property-reservation-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background: white;
  padding-top: 15px;
}
.property-reservation-mobile .property-reservation-mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-top: 0;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .property-price {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.6rem;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .property-price small {
  font-size: 0.9rem;
  margin-left: 5px;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .property-price-reviews {
  font-size: 0.9rem;
  padding: 0;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .btn-availability-mobile {
  margin: 0;
  padding: 1rem 1rem;
  font-size: 1rem;
  background: #292A6A;
  color: #ffffff;
  text-transform: uppercase;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .btn-availability-mobile:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .btn-reserve-mobile {
  margin: 0;
  padding: 1rem 1rem;
  font-size: 1rem;
  background: #292A6A;
  color: #ffffff;
  text-transform: uppercase;
}
.property-reservation-mobile .property-reservation-mobile-wrapper .btn-reserve-mobile:hover {
  background: #9CD8D5;
  color: #292A6A;
}
.mobile-reservation-form .date-selector {
  margin-top: 1.5rem;
  border: 2px solid #8E8E8E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-reservation-form .date-selector div {
  cursor: pointer;
  flex: 0 0 50%;
  padding: 2rem 1rem;
  padding-bottom: 0rem;
  position: relative;
}
.mobile-reservation-form .date-selector div label {
  color: #8E8E8E;
  position: absolute;
  top: 8px;
  left: 15px;
}
.mobile-reservation-form .date-selector div .date {
  display: block;
  width: 100%;
  height: 35px;
}
.mobile-reservation-form .date-selector div:nth-child(1) {
  border-right: 2px solid #8E8E8E;
}
.mobile-reservation-form .guest-selector {
  position: relative;
  border: 2px solid #8E8E8E;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.8rem 1rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
}
.mobile-reservation-form .guest-selector label {
  color: #8E8E8E;
  position: absolute;
  top: -22px;
  left: 0px;
}
.mobile-reservation-form .guest-selector .guest-selector-wrapper {
  position: relative;
}
.mobile-reservation-form .guest-selector .guest-selector-wrapper:before {
  content: ' ';
  background: url('../images/arrow-sprite.png');
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.mobile-reservation-form .guest-selector .guest-dropdown-open:before {
  transform: rotate(180deg);
}
.mobile-reservation-form .guest-selector .guest-selector-menu {
  position: absolute;
  top: 104%;
  left: -3px;
  background: white;
  width: 102%;
  padding: 1rem;
  box-shadow: 0 0 6px #bfbfbf;
  border-radius: 5px;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container {
  /* Firefox */
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container span {
  border: 1px solid black;
  border-radius: 100%;
  width: 25px;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  vertical-align: middle;
  padding-bottom: 3px;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input {
  border: 0;
  max-width: 50px;
  text-align: center;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input::-webkit-outer-spin-button,
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input[type=number] {
  -moz-appearance: textfield;
}
.mobile-reservation-form .guest-selector .guest-selector-menu .guest-selector-item .guest-label h4 {
  font-size: 1.5rem;
  margin: 0;
}
.mobile-reservation-title {
  margin-bottom: 1rem;
}
.mobile-reservation-title h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 600;
}
.mobile-reservation-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.4rem 0px;
  padding-bottom: 0;
}
.mobile-reservation-price-container .property-price {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.mobile-reservation-price-container .property-price small {
  font-size: 0.8rem;
  padding-left: 3px;
}
.mobile-reservation-price-container .property-mobile-reviews {
  color: #292A6A;
}
.mobile-reservation-price-container .property-mobile-reviews .fa {
  color: #292A6A;
  font-size: 1rem;
  margin-right: 1px;
}
.mobile-reservation-price-container .property-mobile-reviews a {
  color: #292A6A;
  font-size: 0.9rem;
}
.mobile-reservation-price-container .property-mobile-reviews a:hover {
  color: #9CD8D5;
}
