// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Didact Gothic', sans-serif;
@secondfont: 'Tenor Sans', sans-serif;
@black: #000000;
@white: #ffffff;
@sgray: #F8F8FC;
@gray: #8E8E8E;
@purple: #292A6A;
@sgreen: #9CD8D5;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

.img-invert {
    .filter(invert(1));
}

/* LOADER */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 2px solid @purple;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.social-widget-container {
    font-size: 1.8rem;

    & a {
        color: @purple;
        margin: 1rem;

        &:hover {
            color: @sgreen;
        }
    }
}

.subscribe-form-container {
    margin-top: 2rem;

    .input-field-item {
        margin-bottom: 1rem;

        & .input-form-control {
            border-radius: 0;
        }

        & .btn-form {
            background-color: @sgreen;
            color: @purple;
            width: 100%;
            border-radius: 0;
            padding: 0.7rem 1rem;
            text-transform: uppercase;

            &:hover {
                background-color: @sgray;
            }
        }

        & .invalid-control {
            text-align: left;
            width: 100%;
            display: block;
            margin-top: 0.2rem;
            font-weight: 600;
        }
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */


.top-bar {
    background-color: @purple;
    color: @white;
    z-index: 999;

    & .top-bar-content {
        .display(flex);
        .align-items(center);
        .justify-content(center);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: @white;

        & img {
            margin-right: 5px;
        }

        & a {
            color: @white;
            text-decoration: underline;
            font-size: 1.08rem;

            &:hover {
                color: @sgreen;
            }
        }

        & div {
            position: relative;

            &:last-child {
                padding-left: 7px;
                margin-left: 7px;

                &:before {
                    content: ' ';
                    background-color: @white;
                    position: absolute;
                    top: 5px;
                    left: 0;
                    height: 14px;
                    width: 1px;
                }
            }
        }
    }
}

.the-header {
    position: relative;
    padding: .5rem 1rem;
    border-bottom: 1px solid #e6e6e6;
    z-index: 100;

    .custom-navbar-nav {
        .display(flex);
        .align-items(center);
        .justify-content(center);
        list-style: none;
        padding: 0;
        margin: 0;

        & .nav-item {
            & .nav-link {
                text-transform: uppercase;
                color: black;
                font-size: .9rem;
                font-weight: 600;
                padding: 0.5rem 1.2rem;

                &:hover {
                    color: @sgreen;
                }
            }
        }
    }

    .header-mobile {
        text-align: right;
        vertical-align: middle;
    }
}

.btn-menu {
    width: 35px;
    height: 25px;
    position: relative;
    margin: 0;
    border: 0;
    background: none;
    display: inline-block;
    .transform(rotate(0deg));
    .transition(.5s ease-in-out);
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: none;
    }

    & span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: @black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        .transform(rotate(0deg));
        .transition(.25s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 9px;
        }

        &:nth-child(3) {
            top: 18px;
        }
    }
}

.btn-menu.open span:nth-child(1) {
    top: 10px;
    .transform(rotate(135deg));
}

.btn-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.btn-menu.open span:nth-child(3) {
    top: 10px;
    .transform(rotate(-135deg));
}

.logo-bright {
    filter: brightness(10);
}



.container-fluid-home {
    & .the-header {
        border-bottom: 0 !important;

        .custom-navbar-nav {
            & .nav-item {
                & .nav-link {
                    color: @white  !important;
                }
            }
        }

        & .btn-menu span {
            background: @white;
        }

        & .show-menu {
            & .nav-item {
                & .nav-link {
                    color: @black  !important;
                }
            }
        }
    }
}

.show-menu {
    background: @white;
    color: @black;
    display: block !important;
    padding-bottom: 1rem;
}

.showed-menu {
    background: @white;

    & .logo-bright {
        filter: unset;
    }

    & .btn-menu span {
        background: @black  !important;
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */

.the-footer {
    background: @purple;

    .footer-item {
        &:nth-child(3) {
            background-color: @purple;
            color: @white;
        }

        & .widgettitle {
            font-family: @secondfont;
            font-size: 1.8rem;
            margin-bottom: 0.8rem;
        }

        & .footer-sidebar {
            .display(flex);
            .align-items(center);
            .justify-content(center);
            flex-flow: column;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;

            & .contact-widget-element-container {
                padding: 0.5rem;
                text-align: center;
            }

            & .contact-widget-element-text {
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }

        & #sidebar-footer2 {
            background: @sgray;

            & .widget_media_image {
                margin-bottom: 1rem;
            }
        }

        & #contact {
            & .widget_text {
                width: 100%;
                padding: 1.5rem;
                text-align: center;
            }
        }
    }
}

.footer-copy {
    padding: 1rem;
    background-color: @sgreen;
    color: @purple;
    font-size: .9rem;

    & .footer-copy-left {
        text-align: left;
    }

    & .footer-copy-right {
        text-align: right;

        & a {
            color: @purple;
            text-decoration: underline;

            &:hover {
                color: @black;
            }
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.home-main-slider {
    max-height: 93vh;
    overflow: hidden;
    position: relative;
    margin-top: -97px;


    & .home-main-slider-wrapper {
        position: absolute;
        background: rgba(0, 0, 0, .60);
        color: @white;
        top: 0;
        left: 0;
        z-index: 99;
        .display(flex);
        .align-items(center);
        .justify-content(center);
        flex-flow: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        font-size: 1.8rem;

        & h1 {
            font-family: @secondfont;
            font-size: 3.2rem;
        }

        & .btn-slider {
            background-color: @purple;
            color: @white;
            border-radius: 0;
            padding: 0.9rem 1.5rem;
            font-size: 1.1rem;

            &:hover {
                background-color: @sgreen;
            }
        }
    }

    & .home-main-slider-logos-container {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;

        & img {
            margin: 0 1rem;
        }
    }
}

.home-locations-item-featured {
    margin-bottom: 1.5rem;


    img.wp-post-image {
        max-width: unset !important;
        width: 100%;
    }

    & .home-locations-item-wrapper {
        position: relative;

        & picture {
            width: 100% !important;

            & img {
                width: 100% !important;
            }
        }



        & .img-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            cursor: pointer;
        }

        & .content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-flow: column;
            width: 100%;
            height: 100%;
            color: @white;
            background: rgba(0, 0, 0, .25);
            padding: 2rem 1.5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: rgba(0, 0, 0, .45);
            }

            & .meta-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                & span:after {
                    content: '/';
                    padding: 0.5rem;
                    font-size: 1rem;


                }

                & span:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            & h2 {
                font-family: @secondfont;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 900;
                margin: 0.8rem 0;
            }

            & .dir-container {
                padding: .5rem 0;
                padding-top: 0;
                font-size: 1.3rem;
            }

            & .price-container {
                font-size: 1.3rem;
            }
        }
    }
}

.modal-home {
    .modal-content {
        background: transparent;
    }

    .modal-body {
        position: relative;
        padding: 0;
        background: transparent;

        & .video-modal-content {
            padding: 0;
        }

        & .close {
            position: absolute;
            top: -50px;
            right: 0px;
            color: #fff;
            font-size: 3rem;
            opacity: 1;
            font-weight: 300;
        }
    }
}

/* HOME VIDEO */
.home-video-container {
    padding: 1rem;
    padding-bottom: 0;
}

/* HOME BENEFITS */
.home-benefits-container {
    padding: 1rem;

    & .home-benefits-content {
        background-color: @sgray;
        padding: 1.5rem 1rem;
        font-size: 1.3rem;
        line-height: 2.3rem;

        & ul {
            list-style: none;

            & li {
                position: relative;

                &:before {
                    content: ' ';
                    position: absolute;
                    background-image: url(../images/icon-check.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 22px;
                    width: 22px;
                    top: 7px;
                    left: -35px;
                }
            }
        }

        & h2 {
            font-family: @secondfont;
            color: @purple;
            font-weight: 600;
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
        }

        & .btn-benefits {
            background-color: @purple;
            color: @white;
            border-radius: 0;
            padding: 0.8rem 1.5rem;
            font-size: 1.1rem;
            width: 100%;

            &:hover {
                background-color: @sgreen;
            }
        }
    }
}

/* HOME ABOUT */
.home-about-container {
    padding: 1rem;

    & .home-about-picture {
        padding-right: 0;
    }

    & .home-about-content {
        background-color: @sgray;
        font-size: 1rem;
        line-height: 1.7rem;
        padding: 1.5rem 1rem;

        & h3 {
            font-family: @secondfont;
            color: @black;
            font-weight: 600;
            font-size: 1rem;
        }

        & h2 {
            font-family: @secondfont;
            color: @purple;
            font-weight: 600;
            font-size: 1.9rem;
            margin: 1rem 0;
        }

    }
}

/* HOME LOCATIONS */
.home-locations-item {
    margin-bottom: 1.5rem;

    & .home-locations-item-wrapper {
        position: relative;

        img.wp-post-image {
            max-width: unset !important;
            width: 100%;
        }

        & .content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-flow: column;
            width: 100%;
            height: 100%;
            color: @white;
            background: rgba(0, 0, 0, .25);
            padding: 2rem 1.5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: rgba(0, 0, 0, .45);
            }

            & .meta-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                & .meta-item {
                    margin-right: 15px;
                }
            }

            & h2 {
                font-family: @secondfont;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 900;
                margin: 0.8rem 0;
            }

            & .dir-container {
                padding: .5rem 0;
                padding-top: 0;
                font-size: 1.3rem;
            }

            & .price-container {
                font-size: 1.3rem;
            }
        }
    }
}

.view-more-locations {
    padding: 2rem 1rem;
    text-align: center;

    & .btn-view-more {
        background-color: @purple;
        color: @white;
        border-radius: 0;
        padding: 0.8rem 5rem;
        font-size: 1.1rem;
        text-transform: uppercase;

        &:hover {
            background-color: @sgreen;
        }
    }
}



/* --------------------------------------------------------------
6.- PARTNER WITH US
-------------------------------------------------------------- */
.page-partners {
    padding: 3rem 1rem;

    .section-container {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
        padding: 0 5%;

        & h1 {
            color: @purple;
            text-transform: uppercase;
            font-family: @secondfont;
            font-weight: 600;
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 2rem;
        }
    }
}

.partners-form-container {
    padding: 1rem;

    & .input-field-item {
        padding: 0 .5rem;
        margin-bottom: 1rem;

        & .input-form-control {
            background-color: @sgray;
            color: @black;
            border: 0;
            border-radius: 0;
        }

        & .invalid-control {
            text-align: left;
            width: 100%;
            display: block;
            margin-top: 0.2rem;
            font-weight: 600;
        }
    }

    & .submit-field-item {
        & .btn-form {
            background-color: @sgreen;
            color: @purple;
            border-radius: 0;
            padding: 0.8rem 1.5rem;
            font-size: 1.1rem;
            width: 100%;
            text-transform: uppercase;

            &:hover {
                background-color: @purple;
                color: @white;
            }
        }
    }
}


/* --------------------------------------------------------------
7.- FOR AGENTS
-------------------------------------------------------------- */
.page-agents {
    padding: 3rem 1rem;

    .section-container {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
        padding: 0 5%;

        & h1 {
            color: @purple;
            text-transform: uppercase;
            font-family: @secondfont;
            font-weight: 600;
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 2rem;
        }
    }

    & .agents-container {
        padding-top: 2rem;

        & div {
            margin-bottom: 1rem;
        }

        & a {
            color: @purple;
            text-decoration: underline;
            font-size: 1.2rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    & .generate-pdf {
        cursor: pointer;
    }
}

/* --------------------------------------------------------------
7.- FOR AGENTS
-------------------------------------------------------------- */
.page-concierge {
    padding: 3rem 1rem;
    padding-bottom: 0;

    .section-container {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
        padding: 0 5%;

        & h1 {
            color: @purple;
            text-transform: uppercase;
            font-family: @secondfont;
            font-weight: 600;
            font-size: 3rem;
            line-height: 4rem;
            margin-bottom: 2rem;
        }
    }
}

.menu-container {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    & ul#menu_ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .display(flex);
        .align-items(center);
        .justify-content(center);
        flex-wrap: wrap;
        max-width: 100%;

        & li {
            & a {
                color: @purple;
                padding: 1rem 0;
                margin: 0 .5rem;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid @black;
                }
            }
        }
    }
}

.menu-concierges {
    .display(flex);
    .align-items(center);
    .justify-content(center);
    flex-wrap: wrap;
    max-width: 100%;

    & .btn-small {
        padding: 0;
        outline: 0 !important;

        &:focus {
            outline: 0;
            box-shadow: none;
        }

        &:clicked {
            outline: 0;
            box-shadow: none;
        }

        &:before {
            display: none !important;
        }
    }
}

.main-concierge-item {
    padding: .5rem 1rem;

    & h3 {
        font-family: @secondfont;
        color: @purple;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    & .content {
        font-size: 1rem;
        line-height: 1.8rem;

        & ul {
            list-style: none;

            & li {
                position: relative;

                &:before {
                    content: ' ';
                    position: absolute;
                    background-image: url(../images/icon-check-black.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 18px;
                    width: 18px;
                    top: 5px;
                    left: -30px;
                }
            }
        }
    }

    & .btn-concierge {
        background-color: @purple;
        color: @white;
        border-radius: 0;
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
        text-transform: uppercase;

        &:hover {
            background-color: @sgreen;
            color: @purple;
        }
    }
}

#quoteModal {
    & .modal-header {
        padding: 2rem;
        padding-bottom: 0;
        border: 0;

        & .close {
            padding: 0 1px 3px 2px;
            margin: -1rem -1rem -1rem auto;
            border: 3px solid gray;
            line-height: 1rem;
            font-size: 1.7rem;
        }
    }

    & .modal-title {
        margin-bottom: 0;
        line-height: 1rem;
        font-size: 1.5rem;
        margin-top: -0.5rem;
    }

    & .modal-content {
        border-radius: 20px;
        border: 0;
        box-shadow: 0 0 25px #4e4e4e;

        padding: 1rem;

        & .input-field-item {
            padding: 0 .5rem;
            margin-bottom: 1rem;

            & .input-form-control {
                background-color: @sgray;
                color: @black;
                border: 0;
                border-radius: 0;
            }

            & .invalid-control {
                text-align: left;
                width: 100%;
                display: block;
                margin-top: 0.2rem;
                font-weight: 600;
            }
        }

        & .submit-field-item {
            & .btn-form {
                background-color: @sgreen;
                color: @purple;
                border-radius: 0;
                padding: 0.8rem 1.5rem;
                font-size: 1.1rem;
                width: 100%;
                text-transform: uppercase;

                &:hover {
                    background-color: @purple;
                    color: @white;
                }
            }
        }

        & .modal-footer {
            border: 0;
            justify-content: flex-start;
            font-size: 0.9rem;
            color: gray;

            & span {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                font-size: 1.2rem;

                & img {
                    margin-right: 5px;
                }
            }

            & img {
                max-width: 25px;
            }
        }
    }
}


/* --------------------------------------------------------------
8.- YATCH
-------------------------------------------------------------- */

.back-btn-container {
    padding: 2rem 1rem;

    a {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: @purple;
        vertical-align: bottom;

        & img {
            margin-right: 10px;
        }
    }
}

.title-container {
    text-align: center;
    padding: 4rem 1rem;
    padding-top: 1.5rem;

    & h1 {
        color: @purple;
        text-transform: uppercase;
        font-family: @secondfont;
        font-weight: 600;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
}

.yatch-item {
    margin-bottom: 2.5rem;

    & header {
        & span {
            vertical-align: top;
            font-size: 0.9rem;
            color: gray;

            & img {
                margin-top: -3px;
            }
        }
    }



    & a {
        color: @purple;
    }

    & h2 {
        font-family: @secondfont;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-top: 0.8rem;
    }

    & .btn-view-more {
        border: 2px solid @purple;
        color: @purple;
        border-radius: 0;
        margin-top: 0.8rem;
        text-transform: uppercase;
        padding: 0.5rem 0.5rem;
        font-weight: 600;

        &:hover {
            background: @purple;
            color: @white;
        }
    }
}

.single-yatchs {
    .back-btn-container {
        padding: 2rem 2rem !important;
        border-bottom: 1px solid #e6e6e6;
    }
}

.yatch-single {
    padding: 4rem 1rem;
    font-size: 1.2rem;
    line-height: 2.1rem;

    & header {
        margin-bottom: 1rem;

        & span {
            & img {
                margin-top: -3px;
            }

            color: gray;
            font-size: 0.9rem;
        }
    }

    & .main-picture {
        padding-right: 0;

        & img {
            width: 100%;
        }
    }

    & .secondary-picture {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        & .secondary-picture-wrapper {
            flex: 0 0 100%;

            & img {
                width: 100%;
            }
        }

        & .smaller-picture {
            position: relative;
            margin-top: 1rem;
            flex: 0 0 47%;

            & .smaller-picture-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .25);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                color: white;
            }
        }
    }


    & h1 {
        color: @purple;
        font-family: @secondfont;
        text-transform: uppercase;
        font-size: 2rem;
        margin: 1rem 0;
    }

    & .btn-concierge {
        background: @purple;
        color: @white;
        width: 100%;
        text-transform: uppercase;
        padding: 0.8rem 1rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        border-radius: 0;

        &:hover {
            background-color: @sgreen;
            color: @purple;
        }
    }
}


/* --------------------------------------------------------------
9.- LOCATIONS ARCHIVE
-------------------------------------------------------------- */
.archive-main-title {
    padding-top: 3rem;

    & h1 {
        margin-bottom: 0;
    }
}

.archive-divider {
    text-align: center;
    padding: 3.5rem 1rem;
    padding-top: .5rem;
}

.archive-item {
    padding-bottom: 3rem;

    & .archive-location {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    & a {
        color: @purple;

        &:hover {
            color: @sgreen;
        }
    }

    & h2 {
        font-family: @secondfont;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    & .meta-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & .meta-item {
            margin-right: 15px;
            color: #7b7b7b;
            font-size: 0.95rem;
            font-weight: 600;
        }
    }

    & .archive-excerpt {
        font-size: 1rem;
        line-height: 1.8rem;
        padding: 1rem 0;
    }

    & .btn-archive {
        background: @purple;
        color: @white;
        width: 100%;
        border-radius: 0;
        padding: 0.9rem 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @sgreen;
            color: @purple;
        }
    }

    & .archive-images {
        & .archive-images-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            & .archive-post-thumbnail {
                flex: 0 0 65%;

                & img {
                    width: 100%;
                }
            }

            & .archive-post-gallery {
                flex: 0 0 30%;

                & img {
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

        }
    }

}

/* --------------------------------------------------------------
10.- LOCATIONS SINGLE
-------------------------------------------------------------- */
.property-single {
    border-right: 1px solid #e6e6e6;
    padding-right: 1.5rem;

    & .property-header {
        padding-bottom: 1rem;

        & h1 {
            color: @purple;
            font-family: @secondfont;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        & .property-share {
            position: relative;

            & a {
                color: gray;
                padding-left: 0;

                &:hover {
                    color: @purple;
                    text-decoration: none;
                }
            }

            & .btn-link {
                & .fa {
                    border: 2px solid gray;
                    padding: 3px;
                }
            }

            & .share-menu {
                position: absolute;
                top: 100%;
                right: 10px;
                background: #fff;
                font-size: 1.3rem;
                width: 90px;

                & a {
                    font-size: 1.3rem;
                    width: 105px;
                }
            }

            & .share-menu-hidden {
                display: none;
            }
        }
    }

    & .property-gallery {

        & .gallery-main {
            padding-right: 0;

            & img {
                cursor: pointer;
                .transition(all .3s ease-in-out);

                &:hover {
                    .filter(brightness(70%));
                }
            }
        }

        & .gallery-thumbs {
            & img {
                cursor: pointer;
                .transition(all .3s ease-in-out);

                &:hover {
                    .filter(brightness(70%));
                }
            }
        }

        & .gallery-thumb-image-small {
            max-width: 49%;
            display: inline-block;
            margin-top: 5px;
            position: relative;

            & .number {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .25);
                color: @white;
                .display(flex);
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
            }
        }
    }

    & .property-header-reviews {
        color: @purple;

        & .fa {
            color: @purple;
            font-size: 1.5rem;
            margin-right: 5px;
        }

        & a {
            color: @purple;

            &:hover {
                color: @sgreen;
            }
        }
    }

    & .property-navigator {
        .display(flex);
        .align-items(center);
        .justify-content(space-between);
        flex-wrap: wrap;
        border-bottom: 1px solid #e6e6e6;

        & ul {
            .display(flex);
            .align-items(center);
            .justify-content(flex-start);
            max-width: 100%;
            margin: 0;
            padding: 0;
            padding-left: .5rem;
            list-style: none;


            & li {
                padding: 0.9rem;
                padding-right: 2rem;
                font-size: .9rem;

                & a {
                    color: @black;
                    font-weight: 600;
                    padding: 1rem 0;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        border-color: @purple;
                    }
                }
            }
        }

        & .btn-small {
            display: none;

            &:focus {
                box-shadow: none;
            }

            &:focus-visible {
                box-shadow: none;
                outline: 0;
                border: 0;
            }

            &:before {
                display: none;
            }
        }
    }

    & .property-overview {
        padding: 1.5rem 1rem;

        & .single-item {
            margin-bottom: .8rem;

            & img {
                max-width: 15px;
                margin-right: 5px;
            }
        }
    }

    & .property-wrapper {
        .display(flex);
        .align-items(flex-start);
        .justify-content(space-between);
        flex-wrap: wrap;
    }

    & .property-maps {
        flex: 0 0 46%;
    }

    & .property-description {
        border-top: 1px solid #e6e6e6;
        padding: 1rem;
        text-align: justify;
        font-size: 1.1rem;
        line-height: 1.8rem;

        & iframe {
            width: 100%;
        }
    }

    & .property-room-beds {
        background: @sgray;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }

    & .property-subtitle {
        color: @purple;
        font-family: @secondfont;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    & .property-amenities {
        padding: 2rem 1rem;

        & .property-wrapper {
            & .single-item {
                flex: 0 0 50%;
                font-size: 1rem;
                line-height: 2.4rem;
            }
        }
    }

    & .property-policies {
        background: @sgray;
        padding: 1rem;

        & .property-wrapper {
            & .approved-policies {
                flex: 0 0 50%;
            }

            & .rejected-policies {
                flex: 0 0 50%;
            }

            & .single-item {
                font-size: 1rem;
                line-height: 2.4rem;
            }
        }

        & h3 {
            color: @purple;
            font-size: 1.75rem;
            border-top: 1px solid rgb(99, 99, 99);
            padding: 1rem 0;
            margin: 1rem 0;
            margin-bottom: .5rem;
            font-weight: 600;

        }
    }

    & .property-point-interest {
        padding: 2rem 1rem;

        & .property-wrapper {
            & .single-item {
                flex: 0 0 50%;
                font-size: 1rem;
                line-height: 2.4rem;
            }
        }
    }

    & .related-properties {
        padding: 2rem 1rem;

        & .related-locations-item {
            margin-bottom: 1.5rem;

            & a {
                color: @purple;

                &:hover {
                    color: @sgreen;
                }
            }

            & h2 {
                color: @purple;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 0.5rem 0;
                font-weight: 600;

                &:hover {
                    color: @sgreen;
                }
            }

            & .meta-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                & .meta-item {
                    font-size: 0.9rem;
                    margin: 0.5rem 0;
                    margin-right: 10px;
                    margin-bottom: 0;
                }

            }

            & .dir-container {
                padding-bottom: 0.5rem;
                font-size: 1.1rem;
            }

            & .price-container {
                font-size: 1.1rem;
            }
        }
    }
}

.property-reservation {
    padding-top: 2rem;

    & .sticker-data-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & .property-price {
            font-family: @secondfont;
            font-size: 2rem;
            font-weight: 600;

            & small {
                font-size: 0.9rem;
                padding-left: 5px;
            }

        }
    }

    & .property-share {
        position: relative;

        & a {
            color: gray;
            padding-left: 0;

            &:hover {
                color: @purple;
                text-decoration: none;
            }
        }

        & .btn-link {
            & .fa {
                border: 2px solid gray;
                padding: 3px;
            }
        }

        & .share-menu {
            position: absolute;
            top: 100%;
            right: 10px;
            background: #fff;
            font-size: 1.3rem;
            width: 90px;

            & a {
                font-size: 1.3rem;
                width: 105px;
            }
        }

        & .share-menu-hidden {
            display: none;
        }
    }

    & .property-price-reviews {
        color: @purple;
        font-size: 1rem;
        padding: 0.8rem 0;
    }

    & .meta-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        & .meta-item {
            margin-right: 15px;
        }
    }

    & .special-container {
        color: @purple;
        padding: 1rem 0;
        padding-bottom: 0;
    }

    & .btn-availability {
        background: @purple;
        color: @white;
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 1rem 0;

        &:hover {
            background: @sgreen;
            color: @purple;
        }
    }

    & .btn-reservation {
        background: @purple;
        color: @white;
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 1rem 0;
        margin-top: 1.5rem;

        &:hover {
            background: @sgreen;
            color: @purple;
        }
    }

    & .special-message {
        text-align: center;
        margin: 2rem 0;
        margin-top: 1rem;
    }

    & .mail-message {
        color: @purple;
        text-align: center;
        border-top: 1px solid @gray;
        padding-top: 2rem;

        & a {
            color: @purple;
        }
    }

    & .date-selector {
        margin-top: 1.5rem;
        border: 2px solid @gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & div {
            cursor: pointer;
            flex: 0 0 50%;
            padding: 2rem 1rem;
            padding-bottom: 0rem;
            position: relative;

            & label {
                color: @gray;
                position: absolute;
                top: 8px;
                left: 15px;
            }

            & .date {
                display: block;
                width: 100%;
                height: 35px;
            }

            &:nth-child(1) {
                border-right: 2px solid @gray;
            }
        }
    }

    & .guest-selector {
        position: relative;
        border: 2px solid @gray;
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1.8rem 1rem;
        padding-bottom: 0.7rem;
        cursor: pointer;

        & label {
            color: @gray;
            position: absolute;
            top: -22px;
            left: 0px;
        }

        & .guest-selector-wrapper {
            position: relative;

            &:before {
                content: ' ';
                background: url('../images/arrow-sprite.png');
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 15px;
                background-size: contain;
                background-repeat: no-repeat;
                .transition(all .1s ease-in-out);
            }
        }

        & .guest-dropdown-open:before {
            transform: rotate(180deg);
        }

        & .guest-selector-menu {
            position: absolute;
            top: 104%;
            left: -3px;
            background: white;
            width: 102%;
            padding: 1rem;
            box-shadow: 0 0 6px #bfbfbf;
            border-radius: 5px;

            & .guest-selector-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 1rem 0;

                & .guest-input-container {

                    & span {
                        border: 1px solid black;
                        border-radius: 100%;
                        width: 25px;
                        display: inline-block;
                        text-align: center;
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        vertical-align: middle;
                        padding-bottom: 3px;
                    }

                    & input {
                        border: 0;
                        max-width: 50px;
                        text-align: center;
                    }

                    & input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    & input[type=number] {
                        -moz-appearance: textfield;
                    }
                }

                & .guest-label {
                    & h4 {
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
            }
        }
    }

}


.modal-date {
    & .modal-content {
        border-radius: 25px;
    }

    & .modal-date-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & .modal-date-title h3 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        & .date-selected {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex: 0 0 50%;
            border: 2px solid gray;
            border-radius: 8px;

            & div {
                cursor: pointer;
                flex: 0 0 50%;
                padding: 2rem 1rem;
                padding-bottom: 0rem;
                position: relative;

                & label {
                    color: @gray;
                    position: absolute;
                    top: 8px;
                    left: 15px;
                }

                & .date {
                    color: @purple;
                    display: block;
                    width: 100%;
                    height: 35px;
                }

                &:nth-child(1) {
                    border-right: 2px solid @gray;
                }
            }
        }
    }

    & .modal-body-dates {
        padding: 2rem 3rem;

        & .close {
            padding: 0 1px 3px 2px;
            margin: -1rem -1rem -1rem auto;
            border: 3px solid gray;
            line-height: 1rem;
            font-size: 1.7rem;

            &:focus {
                outline: 0;
                box-shadow: none;
            }

            &:focus-within {
                outline: 0;
                box-shadow: none;
            }
        }

        & .modal-date-content {
            padding: 2rem 0;
            padding-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;


        }
    }

    & .datepicker-here {
        transform: scale(1.25) translate(25px, 10px);
    }

    & .datepicker-out {
        transform: scale(1.25) translate(-25px, 10px);
    }
}

.modal-date-container {
    position: relative;

    & #demo {
        display: none;
    }

    & .date-picker-wrapper {
        border: 0;
        background-color: transparent;
    }

    & .date-picker-wrapper .drp_top-bar .default-top {
        display: none;
    }

    & .date-picker-wrapper .drp_top-bar .error-top,
    .date-picker-wrapper .drp_top-bar .normal-top {
        display: none !important;
    }

    & .month-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100% !important;
        border: 0;
        padding: 0;
    }

    & .date-picker-wrapper .month-wrapper table {
        width: 46%;
        float: none;
    }

    & .date-picker-wrapper .month-wrapper table.month2 {
        width: 46%;
        float: none;
    }

    & .date-picker-wrapper .month-name {
        font-family: @secondfont;
        color: @purple;
        text-transform: capitalize !important;
        font-size: 1.1rem;
        padding: 1.5rem !important;
    }

    & .date-picker-wrapper .month-wrapper table .week-name {
        font-family: @secondfont;
        color: @purple;
        text-transform: capitalize !important;
        height: 35px;
        line-height: 40px;
        font-weight: 100;
    }

    & .date-picker-wrapper .month-wrapper table .day {
        font-family: @mainfont;
        padding: 12px 0;
        font-size: 13px;
    }

    & .date-picker-wrapper .first-date-selected,
    .date-picker-wrapper .last-date-selected {
        background-color: #17a2b8 !important;
        color: #fff !important;
    }
}

.modal-date-closer {
    text-align: right;

    & .btn-save {
        background: @purple;
        color: @white;
        border-radius: 0;
        padding: 0.7rem 2rem;
        text-transform: uppercase;

        &:hover {
            color: @purple;
            background: @sgreen;
        }
    }
}


.table-order {
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    padding-bottom: 0;
    border: 1px solid @purple;

    & .table-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: .3rem .5rem;
    }

    & .total-table-item {
        font-weight: 600;
        border-top: 1px solid black;
        margin-top: 1rem;
        padding: 1rem .5rem !important;
    }
}

.confirm-reservation {
    & h2 {
        font-family: @secondfont;
        color: @purple;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    & .reservation-control {
        background: #f3f3f3;
        border: 0;
        margin-bottom: 1rem;
        border-radius: 0;
        padding: 0.6rem 1rem;
        height: auto;
    }

    & .btn-complete-form {
        background: @purple;
        color: @white;
        width: 100%;
        padding: 0.8rem 0;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 1rem 0;

        &:hover {
            background: @sgreen;
            color: @purple;
        }
    }
}

.thanks-container {
    padding: 5rem 1rem;
    text-align: center;

    & h3 {
        font-family: @secondfont;
        color: @purple;
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    & h1 {
        font-family: @secondfont;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    & .btn-back-home {
        background: none transparent;
        border: 2px solid @purple;
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 0.8rem 1.2rem;
        font-weight: 600;
        border-radius: 0;

        &:hover {
            background: @sgreen;
            color: @purple;
        }
    }
}

.modal-response-container {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    & .false-taken {
        color: green;
    }

    & .true-taken {
        color: red;
    }
}

.error-message {
    font-size: 1.1rem;
    padding: 1rem;
    padding-bottom: .5rem;
    display: block;
    text-align: center;
    color: red;
}

.bed-type-swiper-container {
    padding: 0 3rem;

    & .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
        border: 3px solid #808080;
        background: #F8F8FC;
        border-radius: 100%;

        &:after {
            font-size: 1.1rem;
            font-weight: 900 !important;
            color: #808080;
        }
    }

    & .property-bed-type-item {
        border: 1px solid #808080;
        border-radius: 10px;
        background: #fff;
        padding: 2rem 1.5rem;

        & h3 {
            font-size: 1rem;
            margin-top: 0.8rem;
            font-weight: 600;
        }

        & span {
            font-size: 0.9rem;
        }
    }
}

.modal-gallery {
    & .modal-dialog {
        max-width: unset !important;
    }

    & .modal-content {
        background: none;
        border: 0;
        width: auto;
        margin: 0 auto;

        & .modal-body-gallery {
            position: relative;
            text-align: center;

            & img {
                height: 90vh !important;
                width: auto !important;
                max-width: auto !important;
            }

            & .modal-arrows {
                position: absolute;
                top: 49.5%;

                & button {
                    background-color: @white;
                    border: 2px solid @gray;
                    color: @gray;
                    border-radius: 100%;
                    font-size: 1.1rem;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    vertical-align: middle;
                    padding-top: 4px;
                    .transition(all .3s ease-in-out);

                    &:focus {
                        outline: 0 !important;
                    }

                    &:hover {
                        border: 2px solid @black;
                        color: @black;
                        background-color: @sgray;
                    }
                }
            }

            & .modal-arrow-prev {
                left: 0;
            }

            & .modal-arrow-next {
                right: 0;
            }

            & .modal-close {
                position: absolute;
                top: 10px;
                right: 10px;

                & button {
                    background-color: @white;
                    border: 2px solid @gray;
                    color: @gray;
                    border-radius: 100%;
                    font-size: 1.1rem;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    vertical-align: middle;
                    padding-top: 2px;
                    .transition(all .3s ease-in-out);

                    &:focus {
                        outline: 0 !important;
                    }

                    &:hover {
                        border: 2px solid @black;
                        color: @black;
                        background-color: @sgray;
                    }
                }
            }
        }
    }
}


.property-reviews {
    padding: 2rem 1rem;
    background: @sgray;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;

    & .comment {
        border-bottom: 1px solid #929292;
        padding-bottom: 0.3rem;

        & .comment-text {
            color: #929292;
            font-size: 1rem;
        }

        &:last-child {
            border-bottom: 0;
        }

        & .comment-stars {
            margin-bottom: .5rem;

            & .fa {
                color: @purple;
                margin-right: 2px;
                font-size: 1.2rem !important;
            }
        }

        & .comment-by {
            color: #929292;
            line-height: 0.5rem;

            & strong {
                color: @purple;
            }
        }
    }
}

.write-review-container {
    width: 100%;

    & .review-form-container {
        width: 100%;
    }

    & .btn-review {
        border: 3px solid @purple;
        color: @purple;
        text-transform: uppercase;
        padding: 1.1rem;
        margin-top: 1rem;
        font-weight: 600;
        border-radius: 0;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @purple;
            color: @white;
        }
    }

    & #reply-title {
        display: none;
    }

    & .comment-title {
        margin-top: 1.1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    & .comment-form input[type=text] {
        width: 100%;
    }

    & .comment-form input[type=email] {
        width: 100%;
    }

    & input#submit {
        background: @purple;
        color: white;
        padding: 1rem 2rem;
        text-transform: uppercase;
        .transition(all .3s ease-in-out);
    }

    .comment-form textarea {
        width: 100%;
    }
}

.property-reservation-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: white;
    padding-top: 15px;

    & .property-reservation-mobile-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;
        padding-top: 0;

        & .property-price {
            font-family: @secondfont;
            font-size: 1.6rem;

            & small {
                font-size: 0.9rem;
                margin-left: 5px;
            }
        }

        & .property-price-reviews {
            font-size: 0.9rem;
            padding: 0;
        }

        & .btn-availability-mobile {
            margin: 0;
            padding: 1rem 1rem;
            font-size: 1rem;
            background: @purple;
            color: @white;
            text-transform: uppercase;

            &:hover {
                background: @sgreen;
                color: @purple;
            }
        }

        & .btn-reserve-mobile {
            margin: 0;
            padding: 1rem 1rem;
            font-size: 1rem;
            background: @purple;
            color: @white;
            text-transform: uppercase;

            &:hover {
                background: @sgreen;
                color: @purple;
            }
        }
    }
}


.mobile-reservation-form {
    & .date-selector {
        margin-top: 1.5rem;
        border: 2px solid @gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & div {
            cursor: pointer;
            flex: 0 0 50%;
            padding: 2rem 1rem;
            padding-bottom: 0rem;
            position: relative;

            & label {
                color: @gray;
                position: absolute;
                top: 8px;
                left: 15px;
            }

            & .date {
                display: block;
                width: 100%;
                height: 35px;
            }

            &:nth-child(1) {
                border-right: 2px solid @gray;
            }
        }
    }

    & .guest-selector {
        position: relative;
        border: 2px solid @gray;
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 1.8rem 1rem;
        padding-bottom: 0.7rem;
        cursor: pointer;

        & label {
            color: @gray;
            position: absolute;
            top: -22px;
            left: 0px;
        }

        & .guest-selector-wrapper {
            position: relative;

            &:before {
                content: ' ';
                background: url('../images/arrow-sprite.png');
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 15px;
                background-size: contain;
                background-repeat: no-repeat;
                .transition(all .1s ease-in-out);
            }
        }

        & .guest-dropdown-open:before {
            transform: rotate(180deg);
        }

        & .guest-selector-menu {
            position: absolute;
            top: 104%;
            left: -3px;
            background: white;
            width: 102%;
            padding: 1rem;
            box-shadow: 0 0 6px #bfbfbf;
            border-radius: 5px;

            & .guest-selector-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 1rem 0;

                & .guest-input-container {

                    & span {
                        border: 1px solid black;
                        border-radius: 100%;
                        width: 25px;
                        display: inline-block;
                        text-align: center;
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        vertical-align: middle;
                        padding-bottom: 3px;
                    }

                    & input {
                        border: 0;
                        max-width: 50px;
                        text-align: center;
                    }

                    & input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    & input[type=number] {
                        -moz-appearance: textfield;
                    }
                }

                & .guest-label {
                    & h4 {
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.mobile-reservation-title {
    margin-bottom: 1rem;

    & h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
        font-weight: 600;
    }
}

.mobile-reservation-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.4rem 0px;
    padding-bottom: 0;

    & .property-price {
        font-family: @secondfont;
        font-size: 1.1rem;
        font-weight: 600;

        & small {
            font-size: 0.8rem;
            padding-left: 3px;
        }

    }

    & .property-mobile-reviews {
        color: @purple;

        & .fa {
            color: @purple;
            font-size: 1rem;
            margin-right: 1px;
        }

        & a {
            color: @purple;
            font-size: 0.9rem;

            &:hover {
                color: @sgreen;
            }
        }
    }
}