/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1440px) {
  .container-special {
    max-width: 100%;
  }
  .home-main-slider {
    margin-top: -106px;
  }
  .gallery-main img {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  /* HEADER */
  .the-header .custom-navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 1170px) {
  /* SLIDER */
  .home-main-slider {
    margin-top: -90px;
  }
  .home-main-slider .home-main-slider-wrapper h1 {
    font-size: 2.5rem;
  }
  .home-main-slider .home-main-slider-wrapper {
    font-size: 1.5rem;
  }
  /* BENEFITS */
  .home-benefits-container .home-benefits-content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .home-benefits-container .home-benefits-content {
    font-size: 1rem;
    line-height: 1.9rem;
  }
  /* ABOUT */
  .home-about-container .home-about-content h2 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    line-height: 1.5rem;
  }
  .home-about-container .home-about-content {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 0;
  }
  /* LUXURY RENTALS */
  .title-container h1 {
    font-size: 2.4rem;
    line-height: 2rem;
    margin-bottom: 0rem;
  }
  .archive-item h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .archive-divider {
    padding: 2rem 1rem;
    padding-top: 0;
  }
  .archive-item .archive-excerpt {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .archive-item .meta-container .meta-item {
    margin-right: 5px;
    font-size: 0.85rem;
  }
  /* PROPERTY SINGLE */
  .back-btn-container {
    padding: 1.5rem 1rem;
  }
  .back-btn-container a img {
    margin-right: 5px;
    margin-top: -5px;
  }
  .back-btn-container a {
    font-size: 1rem;
  }
  .property-single .property-header h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .property-single .property-reviews .fa {
    font-size: 1rem;
  }
  .property-single .property-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .property-single .property-subtitle {
    font-size: 1.5rem;
  }
  .property-single .related-properties .related-locations-item h2 {
    font-size: 1.1rem;
  }
  .property-single .related-properties .related-locations-item .dir-container {
    font-size: 0.9rem;
  }
  .property-single .related-properties .related-locations-item .price-container {
    font-size: 0.9rem;
  }
  .property-single .related-properties .related-locations-item .meta-container .meta-item {
    font-size: 0.8rem;
    margin: 0.6rem 0;
    margin-right: 7px;
    margin-bottom: 0;
  }
  .property-reservation .sticker-data-row .property-price {
    font-size: 1.5rem;
  }
  .property-reservation .meta-container .meta-item {
    margin-right: 10px;
    font-size: 0.9rem;
  }
  .property-reservation .special-container {
    font-size: 0.9rem;
    padding: 1rem 0;
    padding-bottom: 0;
  }
  .property-reservation .date-selector div label {
    top: 10px;
    left: 15px;
    font-size: 0.8rem;
  }
  .property-reservation .guest-selector label {
    top: -20px;
    left: -1px;
    font-size: 0.8rem;
  }
  .property-reservation .btn-availability {
    padding: 1rem 0;
    font-size: 1rem;
  }
  .property-reservation .special-message {
    text-align: center;
    margin: 2rem 0;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .property-reservation .mail-message {
    padding-top: 1.2rem;
    font-size: 0.8rem;
  }
  .property-reservation .date-selector div .date {
    height: 30px;
    font-size: 0.9rem;
  }
  .property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-label h4 {
    font-size: 1.3rem;
  }
  .table-order {
    padding: 0.5rem 0;
    padding-bottom: 0;
  }
  .table-order .table-item {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
  .confirm-reservation h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .home-locations-item .home-locations-item-wrapper .content h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .home-locations-item .home-locations-item-wrapper .content .meta-container .meta-item {
    font-size: 0.9rem;
  }
  .home-locations-item .home-locations-item-wrapper .content .dir-container {
    padding: 0.3rem 0;
    padding-top: 0;
    font-size: 1rem;
  }
  .home-locations-item .home-locations-item-wrapper .content .price-container {
    font-size: 1rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  /* HEADER */
  .the-header .custom-navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
  }
  .header-logo img {
    max-width: 110px;
  }
  /* FOOTER */
  .the-footer .footer-item #contact .widget_text {
    padding: 1rem;
    font-size: 0.9rem;
  }
  .the-footer .footer-item .footer-sidebar .contact-widget-element-text p {
    margin-bottom: 0;
  }
  .the-footer .footer-item .footer-sidebar .contact-widget-element-text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .social-widget-container a {
    margin: 1rem 0.8rem;
    margin-bottom: 0;
  }
  .the-footer .footer-item .widgettitle {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .subscribe-form-container {
    margin-top: 1rem;
  }
  /* SLIDER */
  .home-main-slider {
    margin-top: -100px;
  }
  .home-main-slider .home-main-slider-wrapper h1 {
    font-size: 2.1rem;
  }
  .home-main-slider .home-main-slider-wrapper {
    font-size: 1.2rem;
  }
  /* BENEFITS */
  .home-benefits-picture {
    padding: 0;
  }
  .home-benefits-container .home-benefits-content {
    font-size: 1.2rem;
    padding: 1.5rem;
    line-height: 2.4rem;
  }
  .home-benefits-container .home-benefits-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  /* ABOUT */
  .home-about-container .home-about-content h3 {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
  .home-about-container .home-about-content h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 1.5rem;
  }
  .home-about-container .home-about-content {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 1rem 1rem;
    padding-bottom: 1rem;
  }
  .home-about-container .home-about-picture {
    padding-right: 0;
    padding-left: 0;
  }
  .home-about-container {
    padding: 1rem !important;
  }
  .home-benefits-container {
    padding: 1rem !important;
  }
  /* LUXURY RENTALS */
  .title-container h1 {
    font-size: 1.8rem;
    line-height: 1rem;
    margin-bottom: 0rem;
  }
  .archive-item .archive-images .archive-images-wrapper {
    flex-flow: column;
  }
  .archive-item .archive-images .archive-images-wrapper .archive-post-gallery {
    display: none;
  }
  .property-single .property-header h1 {
    font-size: 1.2rem;
  }
  .property-single .property-overview .single-item {
    margin-bottom: 0.5rem;
  }
  .property-single .property-navigator ul li {
    padding: 0.8rem;
    padding-right: 0.8rem;
    font-size: 0.85rem;
  }
  .property-single .property-navigator ul li a {
    padding: 0.8rem 0;
  }
  .property-single .property-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .property-single .property-policies .property-wrapper .single-item {
    font-size: 0.9rem;
    line-height: 2.2rem;
  }
  .property-single .property-amenities .property-wrapper .single-item {
    font-size: 0.9rem;
    line-height: 2.2rem;
  }
  .property-single .property-point-interest .property-wrapper .single-item {
    font-size: 0.9rem;
    line-height: 2.2rem;
  }
  .property-single .related-properties .related-locations-item .meta-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .modal-date .modal-body-dates {
    padding: 1rem 1.5rem;
  }
  .modal-date .modal-body-dates .modal-date-content {
    padding: 1rem 0;
    padding-bottom: 0;
  }
  .modal-date .modal-dialog {
    max-width: 97%;
  }
  .modal-date .modal-date-header .modal-date-title h3 {
    font-size: 1.4rem;
  }
  .property-reservation .sticker-data-row {
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column;
  }
  .property-reservation .sticker-data-row .property-share {
    order: 1;
    text-align: right;
    flex: 0 0 100%;
  }
  .property-reservation .sticker-data-row .property-price {
    font-size: 1.2rem;
    flex: 0 0 100%;
    order: 12;
    margin-top: 0.5rem;
  }
  .property-reservation .meta-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-flow: column;
  }
  .property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-label h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .property-reservation .guest-selector .guest-selector-menu .guest-selector-item .guest-input-container input {
    max-width: 30px;
  }
  .property-reservation .guest-selector .guest-selector-menu .guest-selector-item {
    padding: 0.5rem 0;
  }
  .property-reservation .date-selector div .date {
    height: 25px;
    font-size: 0.8rem;
  }
  .guest-quantity {
    font-size: 0.9rem;
    height: 25px;
  }
  .property-reservation .guest-selector {
    padding: 1.8rem 1rem;
    padding-bottom: 0.3rem;
  }
  .property-single .property-wrapper {
    flex-flow: column;
  }
  .property-single-data {
    flex: 0 0 100%;
    order: 12;
  }
  .property-single .property-maps {
    flex: 0 0 100%;
    order: 1;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .property-single .property-navigator ul {
    padding-left: 0;
    max-width: 90%;
  }
  .property-single .property-navigator .btn-small {
    display: block;
  }
  .property-single .property-navigator ul li {
    padding: 0.7rem;
    padding-right: 0.7rem;
    font-size: 0.85rem;
  }
  .table-item .description-line {
    flex: 0 0 65%;
  }
  .home-locations-item .home-locations-item-wrapper .content h2 {
    font-size: 0.9rem;
  }
  .property-single .property-gallery .gallery-thumb-image-small {
    max-width: 48%;
    margin-top: 16px;
  }
  .property-single .property-gallery .gallery-thumb-image-small .number {
    font-size: 1.2rem;
  }
  .modal-date .modal-body-dates .close {
    margin: 0.2rem 0;
  }
}
@media (max-width: 800px) {
  .home-locations-item .home-locations-item-wrapper .content .meta-container .meta-item {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .home-locations-item .home-locations-item-wrapper .content h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 767px
-------------------------------------------------------------- */
@media (max-width: 767px) {
  /* HEADER */
  .top-bar .top-bar-content {
    flex-flow: column;
  }
  .top-bar .top-bar-content div:last-child {
    padding-left: 0;
    margin-left: 0;
    margin-top: 5px;
    font-size: 1rem;
  }
  .top-bar .top-bar-content div:last-child:before {
    display: none;
  }
  .the-header .custom-navbar-nav {
    flex-flow: column;
    align-items: flex-start;
  }
  .the-header .custom-navbar-nav .nav-item .nav-link {
    padding: 1rem 1rem 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
  .header-menu {
    position: absolute;
    top: 100%;
  }
  /* FOOTER */
  #sidebar-footer1 {
    display: none;
  }
  .the-footer .footer-item .footer-sidebar {
    align-items: flex-start;
    padding: 3rem 1rem;
  }
  .footer-copy .footer-copy-left {
    text-align: left;
    margin-bottom: 5px;
  }
  .footer-copy .footer-copy-right {
    text-align: left;
  }
  .the-footer .footer-item .footer-sidebar .widget {
    width: 100%;
  }
  .the-footer .footer-item .footer-sidebar .contact-widget-element-container {
    padding: 1rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .the-footer .footer-item .footer-sidebar .contact-widget-element-icon {
    flex: 0 0 10%;
    max-width: 10%;
    text-align: left;
  }
  .the-footer .footer-item .footer-sidebar .contact-widget-element-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .social-widget-container {
    font-size: 1.5rem;
    padding: 1rem 0.3rem;
    padding-bottom: 0;
  }
  .social-widget-container a {
    margin: 3rem 1rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  /* SLIDER */
  .home-main-slider {
    margin-top: -85px;
  }
  .home-swiper-container .swiper-slide img {
    height: 80vh;
    width: auto !important;
    max-width: unset;
  }
  .home-main-slider .home-main-slider-wrapper h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .home-main-slider .home-main-slider-wrapper {
    font-size: 1.7rem;
    padding: 6rem;
    text-align: center;
  }
  .home-main-slider .home-main-slider-logos-container img {
    margin: 0 0.5rem;
  }
  /* ABOUT */
  .home-about-container .home-about-content h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
    line-height: 2.4rem;
    padding-right: 30%;
  }
  /* PARTNERS */
  .page-partners .section-container h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  .page-partners .section-container {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0;
  }
  /* LUXURY RENTALS */
  .title-container h1 {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  .archive-item .archive-images .archive-images-wrapper .archive-post-thumbnail {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
  .archive-item h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .archive-item {
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .archive-item .archive-excerpt {
    font-size: 1rem;
    line-height: 2.2rem;
  }
  .main-concierge-item h3 {
    margin-top: 1.8rem;
  }
  .main-concierge-item .btn-concierge {
    padding: 0.8rem 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .yatch-item {
    padding: 1rem;
  }
  .yatch-item picture img {
    width: 100%;
  }
  .yatch-gallery .secondary-picture {
    display: none;
  }
  .yatch-item h2 {
    margin-bottom: 0.5rem;
  }
  .yatch-item .btn-view-more {
    padding: 0.8rem 0.5rem;
    width: 100%;
  }
  .yatch-single .main-picture {
    padding-right: 1rem;
  }
  .page-agents .section-container {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 0 1rem;
  }
  .page-agents .section-container h1 {
    font-size: 2rem;
    line-height: 1rem;
    margin-bottom: 2rem;
  }
  .thanks-container {
    padding: 4rem 1rem;
  }
  .thanks-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 2.5rem;
  }
  .thanks-container h3 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .img-play {
    top: 35%;
    max-width: 80px;
  }
  .property-single .property-header h1 {
    font-size: 1.2rem;
    max-width: 65%;
    display: inline-block;
  }
  .property-single .property-header .property-share {
    position: relative;
    max-width: 20%;
    float: right;
    display: inline-block !important;
  }
  .modal-date-container .date-picker-wrapper .month-wrapper table {
    width: 100%;
    float: none;
  }
  .modal-date-container .date-picker-wrapper .month-wrapper table.month2 {
    width: 100%;
    float: none;
  }
  .menu-concierges {
    -webkit-box-pack: justify !important;
    -moz-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
    padding: 0 1rem;
  }
  .property-single .property-navigator ul li {
    padding: 0.4rem;
    padding-right: 0.4rem;
  }
  .modal-date .modal-content {
    border-radius: 0;
  }
  .modal-date .modal-body-dates .close {
    margin: 0;
    float: none;
    margin-bottom: 0.5rem;
  }
  .modal-date-container .date-picker-wrapper {
    padding: 0;
  }
  .modal-date {
    padding-right: 0 !important;
  }
}
@media (max-width: 533px) {
  /* HEADER */
  .top-bar .top-bar-content {
    font-size: 0.9rem;
  }
  .top-bar .top-bar-content div:last-child {
    font-size: 0.9rem;
  }
  /* SLIDER */
  .home-swiper-container .swiper-slide img {
    height: 100vh;
  }
  .home-main-slider .home-main-slider-wrapper {
    font-size: 1.5rem;
    padding: 3rem;
  }
  .home-main-slider {
    margin-top: -85px;
    max-height: 100vh;
  }
  .home-main-slider .home-main-slider-wrapper h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  /* LUXURY RENTALS */
  .title-container h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .back-btn-container a {
    font-size: 1.1rem;
  }
  .partners-form-container {
    padding: 0;
  }
  .page-agents .agents-container a {
    font-size: 1rem;
  }
  .page-agents .agents-container {
    padding-top: 1rem;
  }
  .agents-container img {
    max-width: 35px;
  }
  .page-agents .agents-container a {
    font-size: 0.8rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .img-play {
    top: 25%;
    max-width: 60px;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content h2 {
    font-size: 1rem;
    text-align: center;
  }
  .property-reservation-mobile .property-reservation-mobile-wrapper .property-price {
    font-size: 1.3rem;
  }
}
@media (max-width: 424px) {
  /* SLIDER */
  .home-main-slider .home-main-slider-wrapper {
    font-size: 1.4rem;
    padding: 2.5rem;
    text-align: center;
  }
  .home-main-slider .home-main-slider-logos-container {
    bottom: 10px;
    padding: 0;
  }
  .home-main-slider .home-main-slider-logos-container img {
    margin: 0 0.5rem;
    max-width: 60px;
  }
  /* ABOUT */
  .home-about-container .home-about-content h2 {
    padding-right: 20%;
  }
  /* LUXURY RENTALS */
  .title-container h1 {
    font-size: 2.9rem;
    line-height: 3.8rem;
  }
  .back-btn-container a img {
    margin-right: 5px;
  }
  .back-btn-container a {
    font-size: 1rem;
  }
}
@media (max-width: 414px) {
  /* HEADER */
  .top-bar .top-bar-content div:last-child {
    font-size: 0.8rem;
  }
  .archive-item h2 {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content .meta-container span {
    flex: 0 0 38%;
    text-align: center;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content .meta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content {
    padding: 0.5rem 1rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content h2 {
    font-size: 0.9rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .img-play {
    top: 22%;
    max-width: 50px;
  }
  .property-reservation-mobile .property-reservation-mobile-wrapper .btn-availability-mobile {
    margin: 0;
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  /* FOOTER */
  .footer-copy .footer-copy-left {
    font-size: 0.8rem;
  }
  .footer-copy .footer-copy-right {
    font-size: 0.8rem;
  }
  /* SLIDER */
  .home-main-slider .home-main-slider-logos-container img {
    margin: 0 0.5rem;
    max-width: 50px;
  }
  /* PARTNERS */
  .page-partners .section-container h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  .title-container h1 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  .back-btn-container a img {
    margin-right: 2px;
    max-width: 25px;
  }
  .back-btn-container a {
    font-size: 0.9rem;
  }
  .home-locations-item-featured .home-locations-item-wrapper .img-play {
    top: 18%;
    max-width: 50px;
  }
  .home-locations-item-featured .home-locations-item-wrapper .content h2 {
    font-size: 0.9rem;
    text-align: center;
    margin: 0.3rem 0;
  }
  .property-reservation-mobile .property-reservation-mobile-wrapper .property-price {
    font-size: 1.2rem;
  }
  .page-concierge .section-container h1 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
}
