body.contract {
	font-size: $base-font-size;

	table {
		width: 100% !important;
		font-size: $base-font-size;

		&.rental-summary {
			border-collapse: collapse;
			border: 1px solid lightgray;

			td {
				border: 1px solid lightgray;
				padding: 8px 16px;
				//height: 2rem;
				vertical-align: top;

				&.total-column,
				&.money-column {
					text-align: right;
				}
			}

			tfoot {
				td {
					background-color: lighten(lightgray, 5%);
					font-weight: bold;
				}
			}
		}

		&.signatures-table {
			hr {
				border-top: 0;
				border-style: solid;
			}

			.placeholder {
				padding-top: 1.5em;
			}
		}
	}

	.px-3 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.pt-5 {
		padding-top: 2.5rem;
	}

	.font-small {
		font-size: 0.8em;
	}

	.text-center {
		text-align: center;
	}

	.no-break {
		page-break-inside: avoid;
	}
	
	.page-break {
		page-break-before: always;
	}

	footer {
		/* Place the footer at the bottom of each page */
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;

		/* Any other appropriate styling */
		//font-weight: bold;
	}

	/* Show current page number via CSS counter feature */
	.page-number:before {
		content: counter(page);
	}
}


