@page {
	margin: 15mm 20mm;
}
body {
	margin: 0px;

	> header {
		padding-bottom: 10px;

		h1 {
			margin-top: 0;
		}

		img {
			height: 56px;
			width: 125px;
		}
	}
}

article {
	padding: 1px;
}

body > header > .top-bar {
	text-align: center;
	color: white;
	background-color: #292a6a;
	padding: 0.5rem 0.5rem 0.6rem 0.5rem;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	@extend %font-family-didactic-gothic;
}

table td,
p {
	@extend %font-family-didactic-gothic;
	font-size: 0.8rem;
}

p {
	//margin-bottom: -10px;
	line-height: 0.75rem;
}

body > header > .top-bar img {
	height: 0.7rem;
}

.contact-info {
	border: 1px solid lighten(lightgrey, 5%);
	background-color: lighten(lightgrey, 15%);
	padding: 15px;
	margin-bottom: 15px;

	p:last-child {
		margin-bottom: 0;
	}
}

.property-reviews img {
	height: 0.9em;
}

.property-thumbnail {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 40px;

	img {
		height: 300px;
	}
}
.features-list table {
	width: 100%;
	margin-bottom: 2em;
}

.feature-list__item {
	width: 50%;
}
.feature-list__item img {
	height: 1em;
}

h1 {
	color: #292a6a;
	font-family: "TenorSans";
	text-transform: uppercase;
	margin-top: -1em;
	margin-bottom: -1em;
	font-size: 1.75rem;
	padding: 1rem 0;
	font-weight: 400;
}

h2 {
	color: #292a6a;
	font-family: "TenorSans";
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1rem 0;
	font-weight: 400;
	margin-top: -1.5rem;
	margin-bottom: -1rem;

	+ p,
	+ table {
		margin-top: 1rem;
	}
}

h3 {
	font-family: "TenorSans";
	color: #292a6a;
	font-size: 1.75rem;
	padding: 1rem 0;
	margin: 1rem 0;
	margin-bottom: -0.5rem;
	margin-top: -1rem;
}

.page-break {
	page-break-before: always;
}

.property-gallery {
	&__item {
		height: 200px;
		width: 320px;
		background-size: cover;
		background-position: center center;
	}
}
