.brochure-section {
	&__loop {
        a {
            opacity: 1;
            transition: opacity 250ms ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

		&__image {
			height: 220px;

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__title {
			background-color: $dark-blue;
			color: white;
			line-height: 1.1em;
			font-size: 1.1rem;
			padding: 5px;
			min-height: 3.1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.btn-primary {
		@extend %btn-primary;
	}
}

.modal-brochure {
	.btn-primary {
		@extend %btn-primary;
	}

	.btn-secondary {
		@extend %btn-secondary;
	}
}
